docutils<0.16
rsa<=4.5.0
awscli
boto3
botocore
certifi
chardet
colorama
idna
Jinja2
jmespath
MarkupSafe
oauthlib
pyasn1
python-dateutil
PyYAML
requests
requests-oauthlib
s3transfer
six
tqdm
urllib3
voluptuous
flask
gunicorn
