        {% if containers %}
        <h3>Folders</h3>
        <ul>
            {% for container in containers %}
                <li><a href="{{container.id}}.html">{{container.name}}</a></li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if documents %}
        <h3>Documents</h3>
        <table cellpadding="0" cellspacing="0">
            <tr><th>Name</th><th>Last modified</th><th>Last modified by</th></tr>
            {% for document in documents %}
                <tr>
                    <td><a href="../{{workspace.id}}/{{document.id}}" target="_blank">{{document.name}}</a></td>
                    <td>{{document.modified_time_iso}}</td>
                    <td>
                        {% if document.modified_by %}
                            {{document.modified_by.name}}
                        {% else %}
                            N/A (UID: {{document.modified_by_id}})
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% if urls %}
        <h3>Links</h3>
        <ul>
            {% for url in urls %}
            <li><a href="{{url.urllink}}" target="_blank">{{url.name}}</a></li>
            {% endfor %}
        </ul>
        {% endif %}